.personal-form {
  width: 500px;
}

.personal-form.auto {
  margin: auto
}

.personal-form.left{
  margin-left: 40px;
}

.personal-table{
  margin-left: 30px;
  margin-right: 30px;
}
.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}
.btn-default{
    margin-top: 10px;
    background-color: lightgray;
}
.icon-input-btn{
        display: inline-block;
        position: relative;
    }

.icon-input-btn input[type="submit"]{
        padding-left: 2em;
    }
.icon-input-btn .fa{
        display: inline-block;
        position: absolute;
        left: 0.65em;
        top: 25%;
        color: white;
    }
.personal-button{
    color:black
}
.fa {
    color:white;
}