{% extends "admin-base.html" %}

{% block content %}
{{super()}}

<br>
<div class="personal-table">
    <h1>Züge</h1>
    <table id="data3" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Zugkraft (t)</th>
            <th>Max. Gewicht (t)</th>
            <th>Waggons</th>
            <th>Sitzanzahl</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for zug in zuege %}
        <tr>
            <td>{{zug.id}}</td>
            <td>{{zug.name}}</td>
            <td>{{triebwagen_query.get(zug.triebwagen).zugkraft}}</td>
            <td>{{calculate_maxgewicht(zug.id)}}</td>
            <td> {{calculate_waggons(zug.id)}}</td>
            <td>{{ calculate_sitze(zug.id) }}</td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                    <input id="zug" name="zug" type="hidden" value="{{zug.id}}">
                    <button class="btn btn-secondary" type="submit"> Delete </button>
                </form>
                 <form action="{{ url_for('edit_train', id=zug.id) }}" method="GET">
                    <button class="btn btn-primary" type="submit"> Edit </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<hr>
<br>
<form action="{{url_for('train')}}" method="post">
    <div style="float: right; margin-right: 30px">
        <span>Name: </span>
        <input type="text" name="zug_name">
        <button class="btn btn-primary" type="submit">Submit Train</button>
    </div>
    <br>
<div class="personal-table">
    <h2>Triebwagen</h2>
    <table id="data" class="table table-striped" >
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Zugkraft (t)</th>
            <th>Available?</th>
            <th>Select</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for triebwagen in triebwaegen %}
        <tr>
            <td>{{ triebwagen.fahrgestellnummer }}</td>
            <td>{{ triebwagen.spurweite }}</td>
            <td>{{ triebwagen.zugkraft }}</td>
            <td>{{ triebwagen.zug_id == none }}</td>
            {% if triebwagen.zug_id == none %}
            <td>
                <input type="checkbox" name="tw{{triebwagen.fahrgestellnummer}}" value={{triebwagen.fahrgestellnummer}}>
            </td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                    <input id="triebwagen" name="triebwagen" type="hidden" value="{{triebwagen.fahrgestellnummer}}">
                    <button type="submit" class="btn btn-secondary"> Delete </button>
                </form>
            </td>
            {% else %}
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
    <hr>
<div class="personal-table">
    <h2>Personenwaggons</h2>
    <table id="data2" class="table table-striped">
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Max. Gewicht(t)</th>
            <th>Sitzanzahl</th>
            <th>Available?</th>
            <th>Select</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for personenwaggon in personenwaggons %}
        <tr>
            <td>{{ personenwaggon.fahrgestellnummer }}</td>
            <td>{{ personenwaggon.spurweite }}</td>
            <td>{{ personenwaggon.maxGewicht }}</td>
            <td>{{ personenwaggon.sitzanzahl }}</td>
            <td>{{ personenwaggon.zug_id == none }}</td>
            {% if personenwaggon.zug_id == none %}
            <td>
                <input type="checkbox" name="pw{{personenwaggon.fahrgestellnummer}}" value={{personenwaggon.fahrgestellnummer}}>
            </td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                <input id="personenwaggon" name="personenwaggon" type="hidden" value="{{personenwaggon.fahrgestellnummer}}">
                <button class="btn btn-secondary" type="submit"> Delete </button>
            </form>
            </td>
            {% else %}
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</form>
<br>
<hr>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
     $(document).ready(function () {
        $('#data2').DataTable();
    });
     $(document).ready(function () {
        $('#data3').DataTable();
    });
</script>
{% endblock %}
