{% extends "admin-base.html" %}

{% block content %}
{{super()}}

<h1>Waggons</h1>
<hr>
<div class="personal-table">
    <h2>Triebwagen</h2>
    <table id="data" class="table table-striped" >
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Zugkraft</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for triebwagen in triebwaegen %}
        <tr>
            <td>{{ triebwagen.fahrgestellnummer }}</td>
            <td>{{ triebwagen.spurweite }}</td>
            <td>{{ triebwagen.zugkraft }}</td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                    <input id="triebwagen" name="triebwagen" type="hidden" value="{{triebwagen.fahrgestellnummer}}">
                    <button type="submit"> Delete </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="personal-table">
    <h2>Personenwaggons</h2>
    <table id="data2" class="table table-striped">
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Maximalgewicht</th>
            <th>Sitzanzahl</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for personenwaggon in personenwaggons %}
        <tr>
            <td>{{ personenwaggon.fahrgestellnummer }}</td>
            <td>{{ personenwaggon.spurweite }}</td>
            <td>{{ personenwaggon.maxGewicht }}</td>
            <td>{{ personenwaggon.sitzanzahl }}</td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                <input id="personenwaggon" name="personenwaggon" type="hidden" value="{{personenwaggon.fahrgestellnummer}}">
                <button type="submit"> Delete </button>
            </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
     $(document).ready(function () {
        $('#data2').DataTable();
    });
</script>
{% endblock %}
