{% extends "admin-base.html" %}

{% block content %}
{{super()}}

<h1>Waggons</h1>
<hr>
<form action="{{url_for('train')}}" method="post">
    <button class="btn btn-primary" type="submit" style="float: right; margin-right: 30px">Submit Train</button>
<div class="personal-table">
    <h2>Triebwagen</h2>
    <table id="data" class="table table-striped" >
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Zugkraft</th>
            <th>Available?</th>
            <th>Select</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for triebwagen in triebwaegen %}
        <tr>
            <td>{{ triebwagen.fahrgestellnummer }}</td>
            <td>{{ triebwagen.spurweite }}</td>
            <td>{{ triebwagen.zugkraft }}</td>
            <td>{{ triebwagen.is_available }}</td>
            {% if triebwagen.is_available %}
            <td>
                <input type="checkbox" name="tw{{triebwagen.fahrgestellnummer}}" value={{triebwagen.fahrgestellnummer}}>
            </td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                    <input id="triebwagen" name="triebwagen" type="hidden" value="{{triebwagen.fahrgestellnummer}}">
                    <button type="submit" class="btn btn-secondary"> Delete </button>
                </form>
            </td>
            {% else %}
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="personal-table">
    <h2>Personenwaggons</h2>
    <table id="data2" class="table table-striped">
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite</th>
            <th>Maximalgewicht</th>
            <th>Sitzanzahl</th>
            <th>Available?</th>
            <th>Select</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for personenwaggon in personenwaggons %}
        <tr>
            <td>{{ personenwaggon.fahrgestellnummer }}</td>
            <td>{{ personenwaggon.spurweite }}</td>
            <td>{{ personenwaggon.maxGewicht }}</td>
            <td>{{ personenwaggon.sitzanzahl }}</td>
            <td>{{ personenwaggon.is_available }}</td>
            {% if personenwaggon.is_available %}
            <td>
                <input type="checkbox" name="pw{{personenwaggon.fahrgestellnummer}}" value={{personenwaggon.fahrgestellnummer}}>
            </td>
            <td>
                <form action="{{ url_for('adminLanding') }}" method="POST">
                <input id="personenwaggon" name="personenwaggon" type="hidden" value="{{personenwaggon.fahrgestellnummer}}">
                <button class="btn btn-secondary" type="submit"> Delete </button>
            </form>
            </td>
            {% else %}
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
     $(document).ready(function () {
        $('#data2').DataTable();
    });
</script>
{% endblock %}
