{% extends "base.html" %}

{% block content %}
{{super()}}
{% if not current_user.is_admin %}
<div class="personal-table">
    <h1>Meine bevorstehenden Wartungen</h1>
    <table id="data4" class="table table-striped">
        <thead>
        <tr>
            <th>Zug</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Dauer</th>
            <th>Infos</th>
        </tr>
        </thead>
        <tbody>
        {% for wartung in wartungen %}
        <tr>
            <td>{{wartung.zug_id}}</td>
            <td>{{wartung.datetime.date()}}</td>
            <td>{{wartung.datetime.time()}}</td>
            <td>{{wartung.duration}}</td>
            <td>{{wartung.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br>
<div class="personal-table">
    <h1>Züge</h1>
    <table id="data3" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Spurweite (mm)</th>
            <th>Zugkraft (t)</th>
            <th>Max. Gewicht (t)</th>
            <th>Waggons</th>
            <th>Sitzanzahl</th>
            {% if current_user.is_admin %}
            <th>Options</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for zug in zuege %}
        <tr>
            <td>{{zug.id}}</td>
            <td>{{zug.name}}</td>
            <td>{{zug.get_spurweite()}}</td>
            <td>{{round(zug.get_zugkraft(), 2)}}</td>
            <td>{{ round(zug.calculate_max_weight(),2)}}</td>
            <td> {{ zug.calculate_waggon_number() }}</td>
            <td>{{ zug.calculate_seat_number() }}</td>
            {% if current_user.is_admin %}
            <td>
                <div class="btn-group" id="openItems.{{zug.id}}">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caption"></span><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="openItemDropdown.{{zug.id}}">
                        <li><a class="dropdown-item" href="{{ url_for('edit_train', id=zug.id) }}">Edit</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('wartung', id=zug.id) }}">Maintenance</a></li>
                        <li><a class="dropdown-item"  methods="POST" href="{{ url_for('delete_train', id=zug.id) }}">Delete</a></li>
                    </ul>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<hr>
<br>
{% if current_user.is_admin %}
<form action="{{url_for('train')}}" method="post">
    <div style="margin-left: 30px">
        <span>Name: </span>
        <input type="text" name="zug_name">
        <button class="btn btn-primary" type="submit">Submit Train</button>
    </div>
    {% endif %}
    <br>
<div class="personal-table">
    <h2>Triebwagen</h2>
    <table id="data" class="table table-striped" >
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite (mm)</th>
            <th>Zugkraft (t)</th>
            <th>Available?</th>
            <th>Zug</th>
            {% if current_user.is_admin %}
            <th>Select</th>
            <th>Delete</th>
            <th>Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for triebwagen in triebwaegen %}
        <tr>
            <td>{{ triebwagen.fahrgestellnummer }}</td>
            <td>{{ triebwagen.spurweite }}</td>
            <td>{{ round(triebwagen.zugkraft, 2) }}</td>
            {% if triebwagen.zug_id == none %}
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg>
            </td>
            <td>-</td>
            {% if current_user.is_admin %}
            <td>
                <input type="checkbox" name="tw{{triebwagen.fahrgestellnummer}}" value={{triebwagen.fahrgestellnummer}}>
            </td>
            <td>
                <form action="{{ url_for('home') }}" method="POST">
                    <input id="triebwagen" name="triebwagen" type="hidden" value="{{triebwagen.fahrgestellnummer}}">
                    <span class="icon-input-btn">
                     <i class="fa fa-trash"></i>
                     <input type="submit" class="btn btn-primary btn-sm" value="" formaction="{{url_for('home')}}">
                    </span>
                </form>
            </td>
            <td>
                <div>
                    <form action="{{ url_for('home') }}" method="POST">
                        <input id="twg_to_edit" name="twg_to_edit" type="hidden" value="{{triebwagen.fahrgestellnummer}}">
                        <span class="icon-input-btn">
                            <i class="fa fa-edit"></i>
                            <input type="submit" class="btn btn-primary btn-sm" value="" formaction="{{url_for('home')}}">
                        </span>
                    </form>
                </div>
            </td>
            {% endif %}
            {% else %}
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </td>
            <td>{{triebwagen.zug_id}}</td>
            {% if current_user.is_admin %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
    <hr>
<div class="personal-table">
    <h2>Personenwaggons</h2>
    <table id="data2" class="table table-striped">
        <thead>
        <tr>
            <th>Fahrgestellnummer</th>
            <th>Spurweite (mm)</th>
            <th>Max. Gewicht(t)</th>
            <th>Sitzanzahl</th>
            <th>Available?</th>
            <th>Zug</th>
            {% if current_user.is_admin %}
            <th>Select</th>
            <th>Delete</th>
            <th>Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for personenwaggon in personenwaggons %}
        <tr>
            <td>{{ personenwaggon.fahrgestellnummer }}</td>
            <td>{{ personenwaggon.spurweite }}</td>
            <td>{{ round(personenwaggon.maxGewicht,2) }}</td>
            <td>{{ personenwaggon.sitzanzahl }}</td>
            {% if personenwaggon.zug_id == none %}
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg>
            </td>
            <td>-</td>
            {% if current_user.is_admin %}
            <td>
                <input type="checkbox" name="pw{{personenwaggon.fahrgestellnummer}}" value={{personenwaggon.fahrgestellnummer}}>
            </td>
            <td>
                <div>
                    <form action="{{ url_for('home') }}" method="POST">
                        <input id="personenwaggon" name="personenwaggon" type="hidden" value="{{personenwaggon.fahrgestellnummer}}">
                        <span class="icon-input-btn">
                            <i class="fa fa-trash"></i>
                            <input type="submit" class="btn btn-primary btn-sm" value="" formaction="{{url_for('home')}}">
                        </span>
                    </form>
                </div>
            </td>
            <td>
                <div>
                    <form action="{{ url_for('home') }}" method="POST">
                        <input id="pwg_to_edit" name="pwg_to_edit" type="hidden" value="{{personenwaggon.fahrgestellnummer}}">
                        <span class="icon-input-btn">
                            <i class="fa fa-edit"></i>
                            <input type="submit" class="btn btn-primary btn-sm" value="" formaction="{{url_for('home')}}">
                        </span>
                    </form>
                </div>
            </td>
            {% endif %}
            {% else %}
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </td>
            <td>{{personenwaggon.zug_id}}</td>
            {% if current_user.is_admin %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</form>
<br>
<hr>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
     $(document).ready(function () {
        $('#data2').DataTable();
    });
     $(document).ready(function () {
        $('#data3').DataTable();
    });
</script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>
{% if not current_user.is_admin %}
<script>
    $(document).ready(function () {
        $('#data4').DataTable();
    });
</script>

<script>
$(document).ready(function(){
	$(".icon-input-btn").each(function(){
        var btnFont = $(this).find(".btn").css("font-size");
      	$(this).find(".fa").css({'font-size': btnFont});
	});
});
</script>

{% endif %}
{% endblock %}
