{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="personal-table">
    <h1 style="text-align: center">Schedule Maintenance for Train {{zug.name}}</h1>
    <br>
<form action="{{url_for('scheduleMaintenance', id=zug.id)}}" method="post" class="personal-form auto">
    <div class="form-group">
        <label for="date-time">Enter the date and start time: </label>
        <input class="form-control" id="date-time" name="date" type="datetime-local">
    </div>
    <br>
    <div class="form-group">
        <label for="duration">Enter the expected duration of the maintenance (in hours): </label>
        <input class="form-control" id="duration" name="duration" type="number">
    </div>
    <br>
    <br>
    <label>Choose employees: </label>
    <br>
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Employee</th>
        <th>Select</th>
    </tr>
    </thead>
    <tbody>
    {% for emp in emps %}
    <tr>
        <td>{{emp.email}}</td>
        <td>
            <input type="checkbox" name="emp.{{emp.email}}" value={{emp.email}}>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <hr>
    <div class="form-group">
        <label for="description">Enter additional information: </label>
        <textarea id="description" name="description" class="form-control"></textarea>
    </div>
    <input type="submit" class="form-control">
</form>
</div>
<br>
<br>

{% if len(maintenances) > 0 %}
<div class="personal-table">
    <h1>Upcoming Maintenances for {{zug.name}}</h1>
    <table id="data4" class="table table-striped">
        <thead>
        <tr>
            <th>Zug</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Dauer</th>
            <th>Infos</th>
            <th>Mitarbeiter</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for wartung in maintenances %}
        <tr>
            <td>{{wartung.zug_id}}</td>
            <td>{{wartung.datetime.date()}}</td>
            <td>{{wartung.datetime.time()}}</td>
            <td>{{wartung.duration}}</td>
            <td>{{wartung.description}}</td>
            <td>{{ wartung.emp_association }}</td>
            <td>
                <form action="{{url_for('wartung', id=zug.id)}}" method="post">
                    <input hidden="true" type="text" name="wartung" value="{{wartung.id}}">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}
